html {
    background-color: rgb(98, 137, 113);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 12px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
}

input {
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: rgb(190, 234, 190);
}

a:active {
    text-decoration: underline;
    color: white;
}

.book-cover {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}

#book-title-black {
    color: black;
    text-decoration: underline;
}